.container {
	width: 100vw;
	height: 100vh;
	background: #F4F4F4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form_container {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
	
	width: 490px;
	height: 300px;
	left: 475px;
	top: 267px;

	background: rgba(228, 228, 228, 0.15);
	border-radius: 25px;
}

.input {
	outline: none;
	border: none;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;	
	width: 344px;
	right: 548px;
	bottom: 507px;
	background: #FFFFFF;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
}

.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	color: white;
	font-size: 14px;
	cursor: pointer;
	margin: 10px auto;	
	width: 344px;
	height: 48px;
	left: 0px;
	top: 0px;
	background: #FBBD66;
	border-radius: 100px;

	font-family: 'Abel';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.error_msg,
.success_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.success_msg {
	background-color: #00a800;
}