.title {
      position: absolute;
      width: 800px;
      height: 47.77px;
      left: 500px;
      top: 126px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 48px;
      /* identical to box height, or 120% */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 2.25px;
      text-transform: uppercase;

      color: #333333;

}

.pgFormat {
      width: 1359px;
      padding: 81px;
      padding-left: 115px;
      margin: 73px;
      padding-top: 156px;

      box-shadow: 0px 0px 3px 3px #cfcece;
      font-family: 'Montserrat';
}
